<!DOCTYPE html>
<html>
    <head>
        <header>
            hotels in Amsterdam
        </header>
       <style>
        p,img.hotel{
            margin-left: 200px;
            margin-bottom: 20px;
        }
        img.hotel{
            width: 16vw;
            height: 20vh; 
        }
        p{
            font-size: 30px;
            font-weight: bold;
        }
        header{
            background-image: url("/images/blue.png");
            font-size: 50px;
            font-weight: bold;
            color: whitesmoke;
        }
       </style>
    </head>
    <body>
        <p class="title1"> Monet Garden Hotel </p> 
        <img class="hotel" src="/images/amsterdam1.jpg">
        <p class="title2"> Holiday inn </p> 
        <img class="hotel" src="/images/amsterdam2.jpg">
        <p class="title3"> Hotel CC </p> 
        <img class="hotel" src="/images/amsterdam3.jpg">
    </body>
</html>